.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 0;
}


.input {
    height: 27px;
    border-radius: 4px;
}

.button {
    height: 35px;
    border-radius: 7px;
    background-color: #4cb5f9;
    padding: .9rem;
    font-weight: bolder;
    color: aliceblue;
    line-height: 4px;
}



