.contenedorInfouser {
    border: solid green 1px;
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.contenedorInfouser .child1 {
    border: solid orange 3px;
    flex: 1 1 0;
}

.contenedorInfouser .child2 {
    border: solid rgb(238, 63, 229) 3px;
    flex: 3 1 0;
}


.contenedorInfouser .child2 > * {
    margin-top: 10px;
}

.child2 .primerCapa {
    display : flex;
    justify-content: start;
    align-items: start;
}
.primerCapa > * {
    margin-left: 15px;
}

.child2 .primerCapa .button {
    background-color: rgb(240, 240, 240);
    padding: .2rem;
    border-radius: 6px;
    font-weight: bold;
}


.child2 .segundaCapa {
    display : flex;
    justify-content: start;
    align-items: start;
}

.segundaCapa > * {
    margin-left: 15px;
}



.child2 .tercerCapa {
    /* display : flex;
    justify-content: space-around */
}
.tercerCapa > * {
    margin-left: 15px;
}




.galeria {
    margin-top: 30px;
    text-align: center;
}

.contenedorImagenes {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(77, 76, 76, 0.5);
    width: 100%;
    overflow: hidden;
    transition: 1s ease;
    display: flex;
    justify-content: space-around;
  
}

.overlay  span {
    color: white;
    align-self: center;
    height: 0;
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen  and (max-width: 1000px){
    .contenedorImagenes {
        width: 95%;
    }
}

@media screen  and (max-width: 700px){
    .contenedorImagenes {
        width: 90%;
    }
    .contenedorImagenes .imagen {
        width: 48%;
    }
}

@media screen  and (max-width: 450px){
    .contenedorImagenes {
        width: 98%;
    }
    .contenedorImagenes .imagen {
        width: 80%;
    }

    .contenedorInfouser {
        border: solid green 1px;
        width: 100%;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .child1 {
        width: 100%;
        text-align: center;
    }

    .child2{
        width: 100%;
    
    }

}
