.container {
    border : 'solid magenta 2px';
    background-color: rgb(30, 91, 204);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.imgContainer{
    border: solid red 2px;
    position: fixed;
    max-width:  350px;
}

.imgContainerImg {
    width: 50%;
    margin: 0 auto;
}

.ulContainer {
    border: solid green 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    position: fixed;
    width: 350px;
    margin-top: 8rem;
    list-style: none;
}

.text {
    margin-left: 8px;
    font-size: large;
}


.sizeIcons {
    /* color: blue; */
    font-size: x-large;
}


@media screen and (max-width : 700px) {
    .imgContainer{
        display: none;
    }
    .container {
        position: fixed;
        background-color: red;
        z-index: 999;
        left: 0;

    }

    .ulContainer {
        width: 100%;
        background-color: gray;
        bottom: 0;
        border: solid red 1px;
        display: flex;
        flex-direction: row;
        height: 7vh;
    }
    
    .text {
        display: none;
    }

}
